{% extends 'layouts/base.html' %}

{% block heading %}
<div id="banner">
    <div class="cs-container">
        <span class="cs-int-title">Welcome to our Photo site! You can add your own content or browse our photos below.</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <img src="{{ url_for('static', filename='img/welcome.jpg') }}" width="1280" height="128" title="Welcome" alt="welcome">
    </picture>
</div>
{% endblock heading %}

{% block content %}

<div id="filter" class="filter-container">
  <div id="upload">
    <a href="{{ url_for('main.newPhoto') }}">Upload a photo</a>
  </div>
</div>

<div id="images" class="images-container" data-pagetype="{{ pagetype }}">
    {% for photo in photos %}
    <div class="image-box" data-id="{{photo.id}}">
        <img class="image" src="{{ url_for('main.display_file', name=photo.file) }}" alt="image">
        <div class="image-overlay-container">
            <div class="image-info-container">
                <div class="image-meta">
                    <div class="image-owner overflow-ellipsis" title="{{photo.name}}">
                        {{photo.name}}
                    </div>
                    <div class="image-caption overflow-ellipsis" title="{{photo.caption}}">
                        {{photo.caption}}
                    </div>
                </div>

                <div class="image-description overflow-ellipsis" title="{{photo.description}}">
                    {{photo.description}}
                </div>
            </div>

            <div class="image-navigation-container">
                <a href="{{ url_for('main.display_file', name=photo.file) }}" class="download" title="Download this photo" download>
                    <div class="icon-container highlight blue">
                        <img src="{{ url_for('static', filename='icons/download.png') }}" alt="download">
                    </div>
                </a>

                <a href="{{ url_for('main.editPhoto', photo_id=photo.id) }}" title="Edit this photo">
                    <div class="icon-container highlight green">
                        <img src="{{ url_for('static', filename='icons/edit.png') }}" alt="edit">
                    </div>
                </a>

               <a href="{{ url_for('main.deletePhoto', photo_id=photo.id) }}" title="Delete this photo">
                  <div class="icon-container highlight red delete">
                      <img src="{{ url_for('static', filename='icons/delete.png') }}" title="Delete this photo" alt="delete">
                  </div>
              </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
~                          
